.card {
    img {
        background-size: cover;
        height: 10.9rem;
    }

    .card-title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }

    .card-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.5625rem;
    }
}