.logo_banner {
    background-image: url('../img/dialsource-02.png');
    height: 90px;
    width: 100%;
    margin-top: 60px;
    animation: backgroundScroll 60s linear infinite;
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -4502px 0;
    }
}

#partenaire-national {
    img {
        height: 8rem;
        width: 15rem;
    }
}

#partenaire-international {
    img {
        height: 8rem;
        width: 15rem;
    }
}