// Notre Equipe page
// h1 above equipe cards
h1 {
    margin-top: 5.5rem !important;
    font-size: 2.625rem;
    line-height: 2.0625rem;
    margin-bottom: 5rem;
}

// equipe section
#equipe {
    margin-block-end: 4rem;

    .snip1529 img {
        height: 18rem;
        max-width: 100%;
        vertical-align: top;
        position: relative;
        opacity: 0.75;
    }
}