// Notre Equipe page
// h1 above equipe cards
h1 {
    margin-top: 5.5rem !important;
    font-size: 2.625rem;
    line-height: 2.0625rem;
    margin-bottom: 5rem;
}

// box equipe 
.box-equipe {

    img {
        border-radius: 50%;
        height: 7rem;
    }

    .info-equipe {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 63%;
        font-size: 14px;
        line-height: 20px;
        color: #737373;
        text-align: left;
        box-sizing: border-box;
        padding-left: 10px;
        vertical-align: middle;
    }

}

// above equipe section
.header-img {
    height: 15rem;
    width: 100%;
}

// equipe section
#equipe {
    margin-block-end: 4rem;

    .snip1529 img {
        height: 18rem;
        max-width: 100%;
        vertical-align: top;
        position: relative;
        opacity: 0.75;
    }
}