// hero section 
#hero {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .full-width {
        // width: 90vw;

        img {
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
        }
    }

    .color-overlay {
        bottom: 139vh;
        width: 98.7vw;
        height: 53rem;
        background: #00000066;
        opacity: 0.5;
        position: relative;
        z-index: 2;
    }
}